
.wrapper {
  display: flex;
}

/* サイドバー */
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  padding: 0 20px;
}
.side-bar-header {
  height: 100px;
}
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
}

/* メインチャット */
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  padding: 0 40px;
}
.chat-header {
  height: 100px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 0 0 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 0;
}